#joystick {
    padding: 0;
    margin-left: 25px;
    margin-top: 25px;
}

.wrapper{
    border: 1px solid #474343;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    bottom: 40px;
    right: -60px;
    padding: 0;
    background-color: #966f6f;
    display:inline-block
}

.camera-bundle{
    position: relative !important;
    display:inline-block !important;
    float: left !important;
}

.joystick {
    background-color: #e3cfcf;
    border: 2px solid #e36f6f;
    border-radius: 100%;
    cursor: pointer;
    height: 100%;
    user-select: none;
    width: 100px;
    height: 100px;
    opacity: 0.7;
}
